.md-typeset h1{
    font-weight: bold;
  }

.md-typeset h2 {
  font-weight: bold;
  color: rgb(150, 150, 150);
}

.zielony {
  color: rgb(0, 158, 0);
}

.niebieski {
  color: #3399FF;
}

.md-sidebar--secondary {
  display:none !important;
}